<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>img2htmltable</title>
  <style>
  * {
    box-sizing: border-box;
  }
  table, tr, td,  tbody {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    line-height: 1px;
    overflow: hidden;
  }
  table {
    table-layout:fixed;
    width: 200px;
    height: 200px;
  }
  tbody {
    width: 200px;
    height: 200px;
  }
  table tr {
    width: 200px;
    height: 1px;
  }
  table td {
    width: 1px;
    height: 1px;
  }
  </style>
</head>
<body>
<h1>img2htmltable</h1>
